.Browse {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Browse__Feed {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Feed__cardWrapper {
    height: 100%;
    width: 95%;
    text-decoration: none;
    color: #1E2329;
    background-color: #DADADA;
    margin: 1.5% .25% 1.5% .25%;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.Feed__cardWrapper:hover {
    background-color: #1E2329;
    color: #DADADA;
}

.Feed__cardWrapper:hover > div > div {
    border-left: 7px solid #AD87A6;
}

.Feed__cardWrapper:hover > div > button {
    background-color: #AD87A6;
}

.Feed__card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 3%;
}

.card__copycont {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-left: 7px solid #6296A4;
    padding: 2% 2% 2% 2%;
}

.card__name {
    font-size: 3.6rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    margin: 0 0 3% 0;
}

.card__breed {
    font-size: 2rem;
    margin: 0 0 2% 3%;
}

.card__age {
    font-size: 2rem;
    margin: 0 0 2% 3%;
}

.card__doglocation {
    font-size: 2rem;
    margin: 0 0 2% 3%;
}

.card__favorite {
    height: 50px;
    width: 15%;
    background-color: #6296A4;
    border-radius: 25px;
    border: 2px solid #DADADA;
    color: #DADADA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    transition: .3s ease-in-out;
}

#btn_favorite:hover {
    border-left: 2px solid #AD87A6;
    background-color: #DADADA;
    color: #AD87A6;
}

@media only screen and (max-width: 800px) {
    .Feed__card {
        flex-direction: column;
        padding-top: 7%;
        margin-bottom: 5%;
    }
    .card__image {
        width: 100%;
        margin-bottom: 7%;
    }
    .card__copycont {
        border-top: 7px solid #6296A4;
        border-left: none;
        padding-top: 5%;
        margin-bottom: 5%;
    }
    .card__favorite {
        width: 60%;
        
    }
    #btn_favorite:hover {
        border-top: 2px solid #AD87A6;
        border-left: none;
        background-color: #DADADA;
        color: #AD87A6;
    }
    .Feed__cardWrapper:hover > div > div {
        border-top: 7px solid #AD87A6;
        border-left: none;
    }
}